@charset "utf-8";
/* CSS de MusIns Document */

body 
{
	background-color: #000000;
}

p
{
color:#FFFFFF;
font-family:"Times New Roman", Times, serif;
}

th
{
background-color:red;
	border-color:blue;
color:white;
border-bottom: navy solid thin;
}
td
{
	color:#FFFFFF;
	}
table
{
border:hidden;
}
ul
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 2em;
}
h1
{
	color: red;
font-weight:bold;
font-size: x-large;
	}
	h2
{
	color: red;
font-weight:bold;
font-size: x-large;
	}
input
{
   font-size:15px;
   font-family:Times New Roman,serif;
   font-weight:bold;
   color:#000066;
   background-color:#FFFFFF;
}
select 
{color:#000066;
background-color:white;
}
A:link {text-decoration: none;color: white;}
A:visited {text-decoration: none;color: white;}
A:active {text-decoration: none;color: white;}
A:hover {font-size:44; font-weight:bold; color: red;}

.comentario
{
font-style:italic;
color:white;
font-family:Courier New;
	}



